<ion-view view-title="Serrania de Pons 2l.">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/articulos">
            <i class="icon ion-log-out"></i> Artículos
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                General
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Familia</strong></div>
                <div class="col"><strong>Proveedor</strong></div>
                <div class="col"><strong>Referencia</strong></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">Familia 1</div>
                <div class="col">Proveedor 1</div>
                <div class="col">Referencia 1</div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Detalles
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col text-right"><strong>PVP</strong></div>
                <div class="col text-right"><strong>Stock</strong></div>
                <div class="col text-right"><strong>Reservas</strong></div>
                <div class="col text-right"><strong>Pedidos</strong></div>
                <div class="col"><strong>Rotacion</strong></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col text-right">80.00 €</div>
                <div class="col text-right">0</div>
                <div class="col text-right">0</div>
                <div class="col text-right">0</div>
                <div class="col">NO</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
