<ion-view view-title="Bodas y Comuniones La Buena Fiesta Gitana">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i> Clientes
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Albaranes
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="#/cli/albaranesDetalle">
            	<i class="icon ion-chevron-right"></i>
                <div>
                    <strong>N.Albarán: </strong> ALV-124555
                    <strong>Fecha: </strong> 26/04/2015
                </div>
                <div>
                    <strong>Total: </strong> 1.256,33 €
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
