<ion-view view-title="Bodas y Comuniones La Buena Fiesta Gitana">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i> Clientes
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Indicadores
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Ofertas: </strong> 0
                    </div>
                    <div class="col text-center">
                        <strong>Pedidos: </strong> 0
                    </div>
                    <div class="col text-center">
                        <strong>Albaranes: </strong> 0
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Saldo pendiente: </strong> 1.2530
                    </div>
                    <div class="col assertive">
                        <strong>Saldo vencido: </strong> 253
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Situación: </strong> El cliente está bien
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Limite de crédito: </strong> 1.2530
                    </div>
                    <div class="col">
                        <strong>Tipo crédito: </strong> Normal
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Cobros pendientes
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Fecha ven.:</strong>
                    </div>
                    <div class="col">
                        <strong>Tipo cobro:</strong>
                    </div>
                    <div class="col">
                        <strong>Factura:</strong>
                    </div>
                    <div class="col">
                        <strong>F. Factura:</strong>
                    </div>
                    <div class="col text-right">
                        <strong>Importe:</strong>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right">
                <i class="icon ion-chevron-right"></i>
                <div class="row">
                    <div class="col">
                        10/01/2016
                    </div>
                    <div class="col">
                        Efecto a 30 dias.
                    </div>
                    <div class="col">
                        M1245588
                    </div>                        
                    <div class="col">
                        10/12/2015
                    </div>
                    <div class="col text-right">
                        1.250,00 €
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right">
                <i class="icon ion-chevron-right"></i>
                <div class="row">
                    <div class="col">
                        10/01/2016
                    </div>
                    <div class="col">
                        Efecto a 30 dias.
                    </div>
                    <div class="col">
                        A256333
                    </div>                        
                    <div class="col">
                        10/12/2015
                    </div>
                    <div class="col text-right">
                        720,00 €
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right item-assertive">
                <i class="icon ion-chevron-right"></i>
                <div class="row">
                    <div class="col">
                        10/12/2015
                    </div>
                    <div class="col">
                        Contado
                    </div>
                    <div class="col">
                        X457885
                    </div>                        
                    <div class="col">
                        10/12/2015
                    </div>
                    <div class="col text-right">
                        2.650,00 €
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right">
                <i class="icon ion-chevron-right"></i>
                <div class="row">
                    <div class="col">
                        10/01/2016
                    </div>
                    <div class="col">
                        Efecto a 30 dias.
                    </div>
                    <div class="col">
                        X458/555
                    </div>                        
                    <div class="col">
                        10/12/2015
                    </div>
                    <div class="col text-right">
                        64,00 €
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Facturación anual
            </ion-item>
            <ion-item>
                <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
            </ion-item>
            <ion-item>
                <canvas id="bar" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
