<ion-view view-title="Bodas y Comuniones La Buena Fiesta Gitana">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i> Clientes
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Albarán ALV-124555
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Linea</strong></div>
                <div class="col"><strong>Articulo</strong></div>
                <div class="col text-right"><strong>Cantidad</strong></div>
                <div class="col text-right"><strong>Precio</strong></div>
                <div class="col text-right"><strong>Dto1</strong></div>
                <div class="col text-right"><strong>Dto2</strong></div>
                <div class="col text-right"><strong>Importe</strong></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">1</div>
                <div class="col">Cerveza Xenfer</div>
                <div class="col text-right">27</div>
                <div class="col text-right">10,00 €</div>
                <div class="col text-right">0 %</div>
                <div class="col text-right">0%</div>
                <div class="col text-right">270,00 €</div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">2</div>
                <div class="col">Vino Lecon</div>
                <div class="col text-right">100</div>
                <div class="col text-right">12,50 €</div>
                <div class="col text-right">0 %</div>
                <div class="col text-right">0%</div>
                <div class="col text-right">125,00 €</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>