<ion-view view-title="Bodas y Comuniones La Buena Fiesta Gitana">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i> Clientes
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Descuentos especiales
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Codigo</strong></div>
                <div class="col"><strong>Familia</strong></div>
                <div class="col"><strong>Fecha</strong></div>
                <div class="col text-right"><strong>Dto1</strong></div>
                <div class="col text-right"><strong>Dto2</strong></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">1</div>
                <div class="col">Accesorios</div>
                <div class="col">01/01/2015</div>
                <div class="col text-right">27,00</div>
                <div class="col text-right">0,00</div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">1</div>
                <div class="col">Aperitivos</div>
                <div class="col">03/01/2015</div>
                <div class="col text-right">12,00</div>
                <div class="col text-right">0,00</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>