<ion-view view-title="Bodas y Comuniones La Buena Fiesta Gitana">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i> Clientes
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Precios especiales
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Codigo</strong></div>
                <div class="col"><strong>Articulo</strong></div>
                <div class="col text-right"><strong>Precio</strong></div>
                <div class="col text-right"><strong>Descuento</strong></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">A45225</div>
                <div class="col">Decantador 10</div>
                <div class="col text-right">23,45</div>
                <div class="col text-right">10,28</div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">C7858A</div>
                <div class="col">Estantería 56X Botellero</div>
                <div class="col text-right">1.520,23</div>
                <div class="col text-right">52,45</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
