<ion-view view-title="Bodas y Comuniones La Buena Fiesta Gitana">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i> Clientes
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Contacto
            </ion-item>
            <ion-item class="item-text-wrap">
                <div>Bodas y comuniones la buena fiesta</div>
                <div>B124555888</div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div>Avenida General Aviles N.10</div>
                <div>(46008) Valencia</div>
                <div>VALENCIA</div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Administración
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="tel:963586868">
                <i class="icon ion-ios-telephone"></i> Juan Del Alamo (963586868)
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="mailto:juan@bdcg.com">
                <i class="icon ion-email"></i> juan@bdcg.com
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Comercial
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="#">
                <i class="icon ion-ios-telephone"></i> Pedro Descanso (963586867)
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="#">
                <i class="icon ion-email"></i> pedro@bdcg.com
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Localización
            </ion-item>
            <ion-item>
                <button class="button button-block" ng-click="verMapa()">
                    Ver en mapa
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
