<ion-view view-title="PEDIDO: 145587">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/pedidos">
            <i class="icon ion-log-out"></i> Pedidos
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <!-- Muestra información de la cabecera del pedido -->
        <ion-list ng-hide="enEdicionCabecera">
            <ion-item class="item-divider item-positive">
                Cabecera
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Agente</strong></div>
                <div class="col"><strong>Cliente</strong></div>
                <div class="col"><strong>N.Pedido</strong></div>
                <div class="col"><strong>Fecha</strong></div>
                <div class="col text-right"><strong>Total</strong></div>
                <div class="col"></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">Agente 1</div>
                <div class="col">Cleinte 1</div>
                <div class="col">145587</div>
                <div class="col">26/01/2016</div>
                <div class="col text-right">133,20</div>
                <div class="col">
                    <button class="button" ng-click="editarCabecera()">
                        <i class="icon ion-edit"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
        <!-- Zona de cabecera en modo de edición -->
        <ion-list ng-show="enEdicionCabecera">
            <ion-item class="item-divider item-positive">
                Cabecera [EDICIÓN]
            </ion-item class="item-text-wrap">
            <ion-item class="item-input">
                <span class="input-label"><strong>Agente:</strong></span>
                <span> Agente 1</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Cliente:</strong></span>
                <input type="text">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Fecha:</strong></span>
                <input type="text">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Total:</strong></span>
                <span> 0,00 €</span>
            </ion-item>
            <ion-item>
                <div class="text-center">
                    <button class="button" ng-click="guardarCabecera()">
                        <i class="icon ion-ios-download-outline"></i> Guardar
                    </button>
                    <button class="button" ng-click="guardarCabecera()">
                        <i class="icon ion-android-close"></i> Cancelar
                    </button>
                </div>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="enEdicionLinea">
            <ion-item class="item-divider item-positive">
                Lineas
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Linea</strong></div>
                <div class="col"><strong>Articulo</strong></div>
                <div class="col text-right"><strong>Cantidad</strong></div>
                <div class="col text-right"><strong>Precio</strong></div>
                <div class="col text-right"><strong>Dto1 (%)</strong></div>
                <div class="col text-right"><strong>Dto2 (%)</strong></div>
                <div class="col text-right"><strong>Importe</strong></div>
                <div class="col"></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">01</div>
                <div class="col">Cerveza Shang</div>
                <div class="col text-right">2</div>
                <div class="col text-right">110,30 €</div>
                <div class="col text-right">0</div>
                <div class="col text-right">0</div>
                <div class="col text-right">220,60 €</div>
                <div class="col text-right">
                    <button class="button" ng-click="editarLinea()">
                        <i class="icon ion-edit"></i>
                    </button>
                    <button class="button">
                        <i class="icon ion-trash-b"></i>
                    </button>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">02</div>
                <div class="col">Cerveza Gung</div>
                <div class="col text-right">1</div>
                <div class="col text-right">85,00 €</div>
                <div class="col text-right">0</div>
                <div class="col text-right">0</div>
                <div class="col text-right">85,00 €</div>
                <div class="col text-right">
                    <button class="button" ng-click="editarLinea()">
                        <i class="icon ion-edit"></i>
                    </button>
                    <button class="button">
                        <i class="icon ion-trash-b"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
        <!-- Zona de linea en modo de edición -->
        <ion-list ng-show="enEdicionLinea">
            <ion-item class="item-divider item-positive">
                Linea [EDICIÓN]
            </ion-item class="item-text-wrap">
            <ion-item class="item-input">
                <span class="input-label"><strong>Linea:</strong></span>
                <span> 01</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Articulo:</strong></span>
                <input type="text">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Precio:</strong></span>
                <span> 0,00 €</span>
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Cantidad:</strong></span>
                <input type="text">
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label"><strong>Importe:</strong></span>
                <span> 0,00 €</span>
            </ion-item>
            <ion-item>
                <div class="text-center">
                    <button class="button" ng-click="guardarLinea()">
                        <i class="icon ion-ios-download-outline"></i> Guardar
                    </button>
                    <button class="button" ng-click="guardarLinea()">
                        <i class="icon ion-android-close"></i> Cancelar
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
