<ion-view view-title="Bodega del Valle">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/proveedores">
            <i class="icon ion-log-out"></i> Proveedores
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Descuentos y Rappeles
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>C.Familia</strong></div>
                <div class="col"><strong>Familia</strong></div>
                <div class="col"><strong>C.Marca</strong></div>
                <div class="col"><strong>Familia</strong></div>
                <div class="col"><strong>Fecha</strong></div>
                <div class="col text-right"><strong>Dto1</strong></div>
                <div class="col text-right"><strong>Dto2</strong></div>
                <div class="col text-right"><strong>Rappel1</strong></div>
                <div class="col text-right"><strong>Rappel2</strong></div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">1</div>
                <div class="col">Accesorios</div>
                <div class="col">32</div>
                <div class="col">Descorchadores</div>
                <div class="col">01/01/2015</div>
                <div class="col text-right">27,00</div>
                <div class="col text-right">0,00</div>
                <div class="col text-right">0,00</div>
                <div class="col text-right">0,00</div>
            </ion-item>
            <ion-item class="item-text-wrap row">
                <div class="col">1</div>
                <div class="col">Accesorios</div>
                <div class="col">33</div>
                <div class="col">Cubrebotellas</div>
                <div class="col">23/01/2015</div>
                <div class="col text-right">30,00</div>
                <div class="col text-right">0,00</div>
                <div class="col text-right">0,00</div>
                <div class="col text-right">0,00</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>