<ion-view view-title="Bodega del Valle">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/proveedores">
            <i class="icon ion-log-out"></i> Proveedores
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Contacto
            </ion-item>
            <ion-item class="item-text-wrap">
                <div>Bodega del valle</div>
                <div>B124555888</div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div>Gran Via Marqués del Turia N.10</div>
                <div>(46008) Valencia</div>
                <div>VALENCIA</div>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Administración
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="tel:963586868">
                <i class="icon ion-ios-telephone"></i> Pedro Picant (9600123566)
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="mailto:juan@bdcg.com">
                <i class="icon ion-email"></i> pedro@bvalle.com
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Comercial
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="#">
                <i class="icon ion-ios-telephone"></i> Maria Jornal (96253147)
            </ion-item>
            <ion-item class="item-text-wrap item-icon-right" href="#">
                <i class="icon ion-email"></i> maria@bvalle.com
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
